{% extends 'base/base.html' %}
{% block content %}

<div class="container text-white">
    <div class="row">
        <div class="col">
            <table class="table table-hover table-responsive table-dark">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    {% for item in buy %}
                    <tr data-pk="{{item.listing.pk}}">
                        <td class="name">
                            <a style="text-decoration: none;" href="{% url 'csgo:detail' pk=item.listing.pk %}">
                                <img src="{{item.listing.icon}}" width="64" alt="">
                                {{item.listing}}
                            </a>
                            <div>
                                {% for addon in item.listing.inventory.addons.all %}
                                <img src="{{addon.get_icon}}" width="40px" alt="">
                                {% endfor %}
                            </div>
                        </td>
                        <td>रु {{item.listing.get_price}}</td>
                        <td>
                            <div class="d-flex">
                                <div class="me-2">
                                    <form action="{% url 'chat:index' %}" method="get">
                                        <input type="hidden" name="u" value="{{item.listing.owner.steamid64}}">
                                        <button type="submit" class="btn btn-sm btn-success">Chat with seller</button>
                                    </form>
                                </div>
                                <div>
                                    <form action="{% url 'csgo:cart_delete' pk=item.pk %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="cartitem" value="{{item.pk}}">
                                        <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock content %}