{% extends 'base/base.html' %}
{% block content %}

<div class="container text-white">
    <div class="row">
        <div class="col">
            <table class="table table-hover table-responsive table-dark">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Addons</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    {% for item in buy %}
                    <tr data-pk="{{item.pk}}">
                        <td class="name">
                            <a style="text-decoration: none;"
                                href="{% url 'csgo:detail' uuid=item.listing.unique_id %}">
                                <img src="{{item.listing.get_icon_small}}" width="64" alt="">
                                {{item.name}}
                            </a>
                        </td>
                        <td>
                            {% for addon in item.listing.inventory.addons.all %}
                            <img src="{{addon.get_icon}}" width="40px" alt="">
                            {% endfor %}
                        </td>
                        <td>रु {{item.listing.price}}</td>
                        <td>
                            <div>
                                <input type="hidden" name="items" value="{{item.listing.pk}}">
                                <button type="button" onclick="remove_item('{{item.pk}}')"
                                    class="btn btn btn-outline-danger me-1"><i class="fas fa-times"></i></button>
                                <button type="button" class="btn btn-success payment-button" data-pk="{{item.listing.pk}}" data-name="{{item.name}}" data-url="https://khukhurimart.com{{item.listing.get_absolute_url}}" data-price="{{item.listing.price}}"><i
                                        class="fas fa-money-bill"></i></button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock content %}

{% block js %}
<script>
    function remove_item(id) {
        var data = {
            'id': id,
        }
        $.ajax(
            {
                url: "{% url 'csgo:cart_delete' %}",
                method: 'POST',
                data: data,
                headers: { 'X-CSRFToken': csrftoken },
                success: function () {
                    var selector = $(`tr[data-pk='${id}']`);
                    selector.fadeOut();
                    Notiflix.Notify.Info(`${selector.find('td.name').text()} removed from cart !`);
                }
            }
        );
    };
    $('.payment-button').click(function (element) {
        var e = element.currentTarget;
        console.log(e.getAttribute('data-pk'))
        var config = {
            "publicKey": "test_public_key_58adebc2ceaa46c1be2c3a9c6509ea26",
            "productIdentity": e.getAttribute('data-pk'),
            "productName": e.getAttribute('data-name'),
            "productUrl": e.getAttribute('data-url'),
            "paymentPreference": [
                "KHALTI",
                "EBANKING",
                "MOBILE_BANKING",
                "CONNECT_IPS",
                "SCT",
            ],
            "eventHandler": {
                onSuccess(payload) {
                    // hit merchant api for initiating verfication
                    console.log(payload);
                },
                onError(error) {
                    console.log(error);
                },
                onClose() {
                    console.log('widget is closing');
                }
            }
        };
        var checkout = new KhaltiCheckout(config);
        var amount =  e.getAttribute('data-price');
        checkout.show({ amount: amount });
    });
</script>
{% endblock js %}