{% load humanize %}
{% load static %}
<nav class="navbar navbar-expand-lg text-white">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="https://media.discordapp.net/attachments/608252322174337055/891256547030753300/afafaged.png"
          width="200px">
      </a>
      <a class="d-inline d-md-none btn btn-sm text-white" data-bs-toggle="offcanvas" href="#offCanvasNav" role="button"
        style="font-size: 1.5rem;" aria-controls="offCanvasNav">
        <i class="fas fa-bars"></i>
      </a>
    </div>
    <div class="d-none d-md-block text-uppercase me-auto">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'csgo:shop' %}">Buy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'csgo:inventory' %}">Sell</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'csgo:transaction_list' %}">Transactions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'csgo:wallet_list' %}">Wallet</a>
        </li>
      </ul>
    </div>
    <div>
      {% if user.is_authenticated %}
      <div class="btn btn-sm btn-success">
        <a href="#" class="text-decoration-none text-white fs-6">
          रु {{user.get_credit|intcomma}}
        </a>
      </div>
      <div class="btn btn-sm btn-success">
        <a href="{% url 'message:notification' %}" class="position-relative text-white fs-6">
          <i class="fas fa-bell"></i>
          <span class="position-absolute top-0 left-0 translate-middle badge rounded-pill bg-danger"
            id="notification_count" style="display: none;">
            0
          </span>
        </a>
      </div>
      <a class="btn btn-outline-success" href="#"><img src="{{user.profile.avatar}}" class="rounded" width="25px"
          alt=""> {{user}}</a>
      {% else %}
      <a class="btn btn-success" href="{% url 'social:begin' 'steam' %}"><i class="fab fa-steam"></i> Login with
        steam</a>
      {% endif %}
    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offCanvasNav" aria-labelledby="offCanvasNavLabel"
  style="width: 60%;max-width: 300px;">
  <div class="d-flex flex-row-reverse ">
    <button type="button" class="btn" data-bs-dismiss="offcanvas" aria-label="Close">
      <i class="fas fa-bars"></i>
    </button>

  </div>
  <div class="offcanvas-body">
    <div>
      <ul class="nav flex-column">
        <li class="nav-ite my-2m">
          <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li>
        <li class="nav-item my-2">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item my-2">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item my-2">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    </div>
    <div class="d-flex justify-content-between mt-2">
      <div>Language</div>
      <div>Currency</div>
    </div>
  </div>
</div>