{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="row text-white overflow-hidden" style="height: 95vh;">
  <div class="col-10 col-md-4">
    <div class="d-flex flex-column h-100">
      <div class="m-auto">
        <h1 class="display-4">
          A better way to trade your skins
        </h1><br>
        <p style="font-size: 1.1rem;">
          Buy, sell, and trade skins easier and faster. All deals are secured with the highest level protection methods.
        </p>
        <button class="btn btn-lg bg-my-primary" style="font-size: 1.2rem;">
          GET STARTED
        </button>
      </div>
    </div>
  </div>
  <div class="col-2 d-block d-md-none">
    Placehoder
  </div>
  <div class="col-8 d-none d-md-flex flex-column">
    <div class="my-auto d-flex">
      <img src="https://media.discordapp.net/attachments/608252322174337055/891250817955397662/Untitled-2.png?width=669&height=669" class="img-fluid ms-auto" alt="">
    </div>
  </div>
</div>
{% if listing_latest.exists %}
<div class="row text-white">
  <div class="col-12">
    <div>
      <h3>Recently listed CSGO skins</h3>
      <div class="d-flex flex-row item-container" id="item-container">

        {% for listing in listing_latest %}
        <div class="item-card" onclick="location.href='{{listing.get_absolute_url}}'" style="cursor: pointer;">
          <div class="item-card-body">
            <img class="img-fluid" src="{{listing.get_icon}}" alt="">
            <p class="text-muted mb-0">
              From <span class="text-white text-bold">{{listing.price}}</span>
            </p>
          </div>

          <div class="item-card-footer bg-my-primary">
              <h6 class="m-1">
                Explore
              </h6>
            </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}