@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@font-face {
    font-family: 'firasans-light';
    src: url('/static/fonts/firasans-light');
}

@font-face {
    font-family: 'firasans-medium';
    src: url('/static/fonts/firasans-medium');
}
@font-face {
    font-family: 'firasans-regular';
    src: url('/static/fonts/firasans-regular');
}
:root{
    --cash-green:#00bc8c;
    --cash-black:#484848;
    --my-primary:#ee4f54;
}
.text-cash-green{
    color: var(--cash-green);
}


body{
    font-family: 'Quicksand';
    font-size: 0.9rem;
}

.bg-my-primary{
    background-color: var(--my-primary);
    color:white
}
.btn.bg-my-primary:hover{
    transition: 100ms;
    color:white;
    box-shadow: #ee4f5488 0px 0px 10px;
}

h1{
    font-family: 'Quicksand';
}

.item-container{
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: #4e4e4eed rgba(194, 210, 228, 0.137);
    padding-bottom: 10px;

}

.item-container::-webkit-scrollbar{
    height: 5px;
    background: #4e4e4eed;
}
.item-container::-webkit-scrollbar-thumb{
    background: rgba(194, 210, 228, 0.137);
}

.item-card{
    margin-right: 1px;
    min-width: 200px;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    
}

.item-card-body{
    padding: 10px;
    background-color: #36363c;
}
.item-card-body:hover{
    background-color: #525259;
}

.item-card .item-card-footer{
    visibility: hidden;
    border-radius: 0px 0px 6px 6px;
    text-transform: uppercase;
    text-align: center;
}
.item-card:hover .item-card-footer{
    visibility: visible;
}

.item-scroll-overlay{
    position: sticky;
    right: 0;
    width: 0px;
    background: rgb(64,115,166);
    background: linear-gradient(90deg, rgba(64,115,166,0) 45%, rgba(0, 0, 0, 0.459) 100%);
}

.cart_addon{
    padding: 3px 10px 0px 5px;
    border-radius: 5px 0px 0px 5px;
    position: fixed;
    right: 0;
    bottom: 50%;
    background: var(--my-primary);
    color: white;
}

.item-card-incart-text{
    position: absolute;
right: 38%;
top: 20%;
transform: rotate(-15deg);
background: var(--my-primary);
color: white;
padding: 10px;
border-radius: 50rem;
box-shadow: #000 0px 0px 10px;
display: none;
}

.navbar-bg{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.table-align td:nth-child(odd) {
    /* font-weight: bold; */
}
.table-align td:nth-child(even) {
    text-align: right;
}

.sticker-fix {
    min-width: 175px;
    margin: auto;
    max-width: 80%;
    height: auto;
    transition: 200ms;
}

.card-small-text {
    font-size: 90%;
}

.card .card-badge-right{
    position: absolute;
    top: 0;
    right: 0;
}

.card .card-badge-left {
    position: absolute;
    top: 0;
    left: 0;
}

.bg-shadow {
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}

.card-thumbnail {
    background: #dbdbdb;
}

.img-hover {
    position: absolute;
    bottom: 0;
    display: none;
}

.img-hover-text:hover~.img-hover {
    display: inherit;
}
.greyscale{
    filter: grayscale(100%);
}