{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div>
                <ol>

                    {% for item in inventory %}
                    <li>
                        {{item.item.market_hash_name}} <img src="{{item.item.get_icon}}" height="64px" width="64px" alt="">
                        <input type="checkbox" class="form-control" name="{{item.assetid}}" value="{{item.assetid}}" id="">
                    </li>    
                    {% endfor %}
                </ol>
                </div>
        </div>
    </div>
</div>

{% endblock content %}