{% extends 'base/base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container text-white">
    <div class="row">
        
        <div class="col">
            <ul>
                {% for item in buy %}
                <li>
                    <img src="{{item.get_icon}}" width="128px" alt="">
                    {{item.pk}}
                    <ul>
                        {% for addon in item.addons.all %}
                            <li>
                                {{addon.market_hash_name}}
                                <img src="{{addon.get_icon}}" alt="">
                            </li>
                        {% endfor %}
                    </ul>
                </li>    
                
                {% endfor %}
            </ul>
        </div>
</div>
</div>
{% endblock content %}