{% extends 'base/base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container text-white">
    <div class="row">
        
        <div class="col">
            <h1>
                progress
            </h1>
            <p>
                (Buyer)Payment > (Seller)Trade Sent > (Buyer)Trade Accepted > Transaction Complete
            </p>
            {{item.listing.item.market_hash_name}}
            <img src="{{item.listing.get_icon}}" alt="" width="128px">
            
        </div>
</div>
</div>
{% endblock content %}