{% extends 'base/base.html' %}


{% block content %}


<form method="POST" action="">
    {{ formset.management_form }}
    <table>
        {% for f in form %}
        
        {{f}}

        {% endfor %}
    </table>
</form>
<div class="container">
    <div class="row">
        <div class="col">
            <form action="" method="post" >
                {% csrf_token %}
                <div class="text-right">

                    <button type="submit" class="btn btn-success">Proceed to pricing</button>
                </div>

                <div class="row" id="inventory">
                        
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}
<script>
$.getJSON("{{inventory_url}}",function (data){
        $.each(data,function(key,val){
            $('#inventory').append(
                `<div class="col-2">
                <div class="form-check card">
                    <input type="checkbox" class="form-check-input check-item" name="${key}" id="${key}" value="${val.market_hash_name}">
                    <label class="form-check-label" style="width:100%;" for="${key}">
                            <div class="card-block">
                                <img class="img-fluid" src="${val.icon}">
                            </div>
                        ${val.market_hash_name}
                        </label>
                </div>
                </div>`
                )
        });
    });
</script>


{% endblock js %}