{% extends 'base/base.html' %}


{% block content %}
<div class="container text-white">
    <div class="d-flex justify-content-between">
        <div class="my-2">
            <h4 class="m-0">
                Select Skin To Sell
            </h4>
        </div>

        <div class="my-2">
            <form action="{% url 'csgo:inventory_update' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-info" type="submit" onclick="Notiflix.Loading.Pulse('Updating Inventory, Please wait');">Update Inventory</button>
            </form>
        </div>
    </div>
    <div class="row">
        {% for item in inventory %}
        <div class="col-6 col-md-4 col-lg-2 text-black p-0 g-1">
            <div class="">
                <a href="{% url 'csgo:inventory_create' pk=item.pk %}" style="text-decoration:none;">
                    <div class="item-card" style="cursor: pointer;min-width:auto;max-width: 100%;position: relative;">
                        <div class="item-card-body">
                            <p class="text-muted m-0" style="font-size: 0.8rem;">
                                <span style="font-size: 0.7rem;">
                                    {{item.item.sub_type}} | {{item.item.exterior}}
                                </span>
                                <br><span style="color: #{{item.item.rarity_color}};">{{item.item.name}}</span>
                            </p>
                            <img class="img-fluid" style="position: relative;z-index: 99;" src="{{item.icon}}" alt="{{item.item.market_hash_name}}" loading="lazy">
                            <div class="text-center">
                                <span class="text-muted" style="font-size: 0.8rem;">{{item.float}}</span>
                                <input class="float-field" type="range" name="float" value="{{item.float}}" min="0"
                                    max="1" step="0.0001" disabled>
                            </div>
                        </div>
                        <div style="position: absolute;right: 0;top: 0;pointer-events: none" class="d-flex flex-column">
                            {% for addon in item.addons.all %}
                            <div class="p-1">
                                <img src="{{addon.icon}}" class="img-fluid" width="50px">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}

{% block js %}

{% endblock js %}