{% extends 'base/base.html' %} {% block content %}
<div class="container">
    <div class="row text-white">
        {% for listing in filter.qs %}
        <div class="col-6 col-md-4 col-lg-2 text-black p-0 g-1">
            <a href="{{listing.get_absolute_url}}" style="text-decoration:none;">
            <div class="item-card"
                style="cursor: pointer;min-width:auto;max-width: 100%;position: relative;">
                <div class="item-card-body">
                    <p class="text-muted m-0" style="font-size: 0.8rem;">
                        <span style="font-size: 0.7rem;">
                            {{listing.item.sub_type}} | {{listing.item.exterior}}
                        </span>
                        <br><span style="color: #{{listing.item.rarity_color}};">{{listing.item.name}}</span>
                    </p>
                    <img class="img-fluid" style="position: relative;z-index: 99;" src="{{listing.icon}}" alt="">
                    <p class="text-muted mb-0">
                         <span class="text-muted text-bold">Rs {{listing.get_price}}</span><br>
                    </p>
                </div>
                <div style="position: absolute;right: 0;top: 0;pointer-events: none" class="d-flex flex-column">
                    {% for addon in listing.addons %}
                    <div class="p-1">
                        <img src="{{addon.get_icon_small}}" class="img-fluid" width="50px">
                    </div>    
                    {% endfor %}
                </div>
            </div>
        </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %} {% block js %}
{% endblock js %}