{% extends 'base/base.html' %} {% block content %}
{% load static %}

<div class="row">
    <div class="col-12">
        <div class="row p-3">
            <div class="col-12 col-md-8 p-2">
                <div class="card" style="height: 100%;background-color: #2d2d33;">
                    <div class="card-block d-flex" style="height: 100%;">
                        <img src="{{listing.item.get_icon}}" class="img-fluid sticker-fix" alt="Image">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 p-2">
                <div class="card" style="height: 100%;background-color: #2d2d33;">
                    <div class="card-header">
                        <p>{{listing.item.get_sub_type}} | {{listing.item.exterior}}</p>
                        <div class="d-flex flex-row justify-content-between">
                            <h4 style="color: #{{listing.item.rarity_color}};">{{listing.item.name}}</h4>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h2 style="font-weight: bold;color: #00bc8c;">रु {{listing.get_price}}</h2>
                            <form action="" method="post">
                                {% csrf_token %}
                                <button class="btn btn-success btn-sm" type="submit">
                                    Add To Wishlist
                                </button>
                            </form>
                            <form action="{% url 'csgo:chat_offer' pk=listing.pk %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="item" value="{{listing.pk}}">
                                <button class="btn btn-primary btn-sm">
                                    Chat with seller
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-dark table-borderless table-align">
                            <tbody>
                                <tr>
                                    <td><span class="text-muted">Float</span></td>
                                    <td>{{listing.inventory.float}}</td>
                                </tr>
                                <tr>
                                    <td><span class="text-muted">Exterior</span></td>
                                    <td>{{listing.item.exterior}}</td>
                                </tr>
                                <tr>
                                    <td><span class="text-muted">Pattern</span></td>
                                    <td>{{listing.inventory.paintseed}}</td>
                                </tr>
                                <tr>
                                    <td><span class="text-muted">Rarity</span></td>
                                    <td><span
                                            style="color: #{{listing.item.rarity_color}};">{{listing.item.rarity}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-center"><a href="{{listing.inventory.inspect_url}}" class="btn btn-sm btn-outline-primary">Inspect In-Game</a>
                                        <a href="{{listing.get_steam_inv_url}}" target="_blank"
                                        class="btn btn-sm btn-outline-primary">View in inventory</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            {% for addon in listing.addons %}
                            <div class="col-3">
                                <img src="{{addon.icon}}" class="img-fluid" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="{{addon.item.market_hash_name}}">
                            </div>
                            {% endfor %}
                        </div>
                    </div>  
                    <div class="card-footer">
                        <div class="text-muted p-1">
                            <p>Minimum prices on:</p>
                            <table class="table table-align table-dark">
                                <tbody>
                                    <tr style="cursor: pointer;" onclick="window.open('{% url "csgo:shop" %}?inventory__item__market_hash_name__icontains={{listing.item.market_hash_name}}&price__lte={{listing.price}}', '_blank').focus();"><td>Khukhuri</td><td>रु <span id="market_price"></span></td></tr>
                                    <tr style="cursor: pointer;" onclick="window.open('https://steamcommunity.com/market/listings/730/{{listing.item.market_hash_name}}', '_blank').focus();"><td>Steam</td><td>रु <span id="steam_price"></span></td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block js %}
<script>
    // External Price
    $.get('',function(data){
        steam = $('#steam_price').text(data.steam.lowest_price);
        market = $('#market_price').text(data.market.price__min);
    });

    // Tooltip
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>

{% endblock js %}